BatteryDaemon_src/.vs/BatteryDaemon/v16/.suo
run/Debug/x86/sqlite3.dll
run/Debug/x86/SQLite.Interop.dll
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.pdb
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard_Content.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard_Content.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard_MarkupCompile.cache
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard_MarkupCompile.lref
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/GeneratedInternalTypeHelper.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/MainWindow.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/MainWindow.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/MainWindow.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/ChannelView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/ChannelView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/ChannelView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/ChannelView2.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/ChannelView2.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/ChannelView2.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/DeviceSettingPopup.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/DeviceSettingPopup.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/DeviceSettingPopup.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/LoginView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/LoginView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/LoginView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/WorkspaceView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/WorkspaceView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/WorkspaceView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/CheckConnectionView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/CheckConnectionView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/CheckConnectionView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/CloseInspectionView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/CloseInspectionView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/CloseInspectionView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryView2.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryView2.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryView2.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ProgressTemplate.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ProgressTemplate.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SelectBatteryView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SelectBatteryView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SelectBatteryView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SelectInspectionView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SelectInspectionView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SelectInspectionView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SimpleInspectionView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SimpleInspectionView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/SimpleInspectionView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/StartView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/StartView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/StartView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/.NETFramework,Version=v4.7.1.AssemblyAttributes.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/App.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/App.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/App.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.csproj.AssemblyReference.cache
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.csproj.CopyComplete
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.csproj.CoreCompileInputs.cache
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.csproj.FileListAbsolute.txt
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.csproj.GenerateResource.cache
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.exe
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.g.resources
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/BatteryDashBoard.Properties.Resources.resources
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForModule.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForModule.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForModule.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForModule2.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForModule2.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForModule2.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForPack.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForPack.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForPack.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForPack2.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForPack2.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ConnectBatteryViewForPack2.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DeviceSettingView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DeviceSettingView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DeviceSettingView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryView2.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryView2.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryView2.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForModule.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForModule.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForModule.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForModule2.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForModule2.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForModule2.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForPack.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForPack.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForPack.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForPack2.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForPack2.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/DisconnectBatteryViewForPack2.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/FinishView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/InspectionResultView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/InspectionResultView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/NormalInspectionView.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/NormalInspectionView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/NormalInspectionView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/ProgressTemplate.baml
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/FinishView.g.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/FinishView.g.i.cs
BatteryDashBoard_src/BatteryDashBoard/obj/Debug/View/Channel/InspectionResultView.baml
run/Daemon/Debug/BatteryDaemon.pdb
run/Daemon/Debug/System.Memory.dll
run/Daemon/Debug/System.Runtime.CompilerServices.Unsafe.dll
run/Debug/BatteryDashBoard.pdb
run/Debug/mybase.db
